Repository Terminal/Discord_Fork, pull requests merged in 2018-09, with the labels that each got.

#64 Adding LxiBot
  _bots/454713729649475594.md
Labels: Bot List Verification

#76 JSON Endpoint Update
  _bots/213466096718708737.md
  _config.yml
  _includes/footer.html
  _includes/head.html
  _includes/intro.html
  _layouts/item.html
  _pages/api/bots/all.json
  _pages/api/servers/all.json
  _plugins/ExportItems.rb
  test.txt
  webpack/helpers/elements.js
  webpack/pages/item.js
  webpack/pages/list.js
Labels: enhancement

#45 Adding EquippedDroid
  _bots/470989648747954176.md
Labels: Bot List Needs Fixing, Bot List Verification

#29 XtraCord Bot
  466007757183516703.md
Labels: Bot List Verification

#25 Delete the CNAME file
  CNAME
Labels: enhancement

#104 Adding Roleplayer
  collections/_bots/460545687592108032.md
Labels: Bot List Verification
